html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  text-align: center;
  padding: 20px;
  background-color: rgb(15, 15, 15);
  color: white;
  position: relative;
  overflow-y: hidden;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(41, 41, 41);
  border-radius: 50px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(51, 51, 51);
}
body header .title {
  margin-top: 10px;
  font-size: 30px;
  margin-bottom: 50px;
}
body header .open-menu {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10000;
  background-color: transparent;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  overflow-y: hidden;
  overflow-x: hidden;
}
body header .open-menu .contents {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
body header .open-menu .contents .option {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  margin-bottom: 10px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding: 7px 5px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body header .open-menu .contents .option .switch-container {
  width: 35px;
  height: 35px;
  border: 2px solid white;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
body header .open-menu .contents .option .switch-container .circle {
  position: absolute;
  width: 20px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  left: -2px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: left 0.2s, background-color 0.2s;
  transition: left 0.2s, background-color 0.2s;
}
body header .open-menu .contents .option .switch-container .circle i {
  color: black;
  font-size: 10px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}
body header .open-menu .contents .option .switch-container .circle.dark {
  left: 13px;
  background-color: black;
}
body header .open-menu .contents .option .switch-container .circle.dark i {
  color: white;
}
body header .open-menu .contents .option .switch-container:has(.circle.dark) {
  background-color: transparent;
  border: 2px solid black;
}
body header .open-menu .contents .option i {
  font-size: 20px;
  margin-top: 5px;
}
body header .open-menu .contents .option p {
  font-size: 10px;
}
body header .open-menu .contents .option:hover {
  background-color: rgb(33, 33, 33);
  color: #26a7de;
}
body header .open-menu .contents .option:hover .switch-container {
  border: 2px solid #26a7de;
}
body header .open-menu .contents .option:hover .switch-container .circle {
  background-color: #26a7de;
}
body header .open-menu .contents .option:hover .switch-container .circle i {
  color: white;
}
body header .menu {
  width: 50px;
  height: 50px;
  background-color: rgb(57, 57, 57);
  border-radius: 50%;
  position: fixed;
  top: 20px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 100001;
}
body header .menu .hamburger-menu {
  position: absolute;
  top: 17px;
  z-index: 100;
}
body header .menu:hover {
  background-color: rgb(73, 73, 73);
}
body header .menu.active ~ .open-menu {
  background-color: rgb(57, 57, 57);
  height: 230px;
  border-radius: 30px;
}
body header .menu.active ~ .open-menu .option {
  -webkit-animation: scale 0.5s ease-in-out 1;
          animation: scale 0.5s ease-in-out 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
body header .menu.active .open-menu {
  background-color: rgb(57, 57, 57);
  height: 200px;
  border-radius: 30px;
}
body header .menu.active .lines:nth-child(1) {
  margin-bottom: 0;
  -webkit-transform: translateY(5px) rotate(45deg);
      -ms-transform: translateY(5px) rotate(45deg);
          transform: translateY(5px) rotate(45deg);
  background-color: #26a7de;
}
body header .menu.active .lines:nth-child(3) {
  -webkit-transform: translateY(-5.1px) rotate(-45deg);
      -ms-transform: translateY(-5.1px) rotate(-45deg);
          transform: translateY(-5.1px) rotate(-45deg);
  background-color: #26a7de;
  margin-bottom: 0;
}
body header .menu.active .lines:nth-child(2) {
  opacity: 0;
}
body header .menu .lines {
  width: 20px;
  margin-bottom: 5px;
  height: 2px;
  background-color: white;
  -webkit-transition: background-color 0.2s, opacity 0.15s, -webkit-transform 0.2s ease-in-out;
  transition: background-color 0.2s, opacity 0.15s, -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, background-color 0.2s, opacity 0.15s;
  transition: transform 0.2s ease-in-out, background-color 0.2s, opacity 0.15s, -webkit-transform 0.2s ease-in-out;
}
body header .menu .lines:nth-child(3) {
  margin-bottom: 0;
}
body .board {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 30px;
  -webkit-box-shadow: 0px 10px 12px -2px rgba(57, 57, 57, 0.75);
          box-shadow: 0px 10px 12px -2px rgba(57, 57, 57, 0.75);
}
body .board .box {
  max-width: 150px;
  height: 150px;
  width: 100%;
  border: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  font-size: 30px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
body .board .box:active {
  -webkit-transform: scale(0.96);
      -ms-transform: scale(0.96);
          transform: scale(0.96);
}
body .board .box:hover {
  background-color: rgb(44, 44, 44);
}
body .overlay {
  width: 100%;
  height: 150%;
  background-color: rgba(0, 0, 0, 0.377);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
body .overlay.active {
  opacity: 1;
  visibility: visible;
}
body .warning-overlay {
  width: 100%;
  height: 150%;
  background-color: rgba(0, 0, 0, 0.377);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000001;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
body .warning-overlay.active {
  opacity: 1;
  visibility: visible;
}
body .winner {
  background-color: rgb(31, 31, 31);
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 450px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  z-index: 1000;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  bottom: -80px;
  -webkit-transition: bottom 0.3s;
  transition: bottom 0.3s;
}
body .winner.active {
  bottom: 100px;
}
@media (max-width: 262px) {
  body .winner {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
body .winner .close-pop-up {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 50%;
}
body .winner .winner-text,
body .winner .text {
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 262px) {
  body .winner .winner-text,
  body .winner .text {
    margin-bottom: 20px;
  }
}
body .winner .buttons {
  max-width: 160px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .winner .buttons .restart {
  background-color: rgb(190, 15, 15);
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: 600;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  border: 2px solid transparent;
}
body .winner .buttons .restart:hover {
  background-color: rgb(143, 23, 23);
  border: 2px solid white;
}
body .winner .buttons .quit {
  background-color: white;
  border: none;
  padding: 10px 15px;
  font-weight: 600;
  border-radius: 20px;
  border: 2px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
body .winner .buttons .quit:hover {
  background-color: rgb(223, 223, 223);
}
body .warning {
  z-index: 1000000000;
  position: fixed;
  max-width: 500px;
  width: 100%;
  padding: 20px;
  height: 250px;
  background-color: rgb(57, 57, 57);
  top: 50%;
  left: 50%;
  border-radius: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
body .warning p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
body .warning h5 {
  font-weight: 600;
  font-size: 20px;
  color: rgb(190, 15, 15);
}
body .warning button {
  width: 100px;
  height: 40px;
  background-color: rgb(190, 15, 15);
  border-radius: 50px;
  color: white;
  border: 2px solid transparent;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  cursor: pointer;
  font-weight: 600;
}
body .warning button:hover {
  background-color: rgb(143, 23, 23);
  border: 2px solid white;
  color: white;
}
body .warning.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-animation: pop-up 0.4s ease-in-out 1;
          animation: pop-up 0.4s ease-in-out 1;
}
@-webkit-keyframes pop-up {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes pop-up {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
body.light-theme {
  background-color: white;
  color: black;
}
body.light-theme h1 {
  color: black;
}
body.light-theme .menu {
  background-color: rgb(218, 218, 218);
}
body.light-theme .menu:hover {
  background-color: rgb(189, 189, 189);
}
body.light-theme .menu .hamburger-menu div {
  background-color: black;
}
body.light-theme .menu.active ~ .open-menu {
  background-color: rgb(218, 218, 218);
}
body.light-theme .menu.active ~ .open-menu .option p {
  color: black;
}
body.light-theme .menu.active ~ .open-menu .option i {
  color: black;
}
body.light-theme .menu.active ~ .open-menu .option:hover {
  background-color: rgb(189, 189, 189);
}
body.light-theme .menu.active ~ .open-menu .option:hover p {
  color: #26a7de;
}
body.light-theme .menu.active ~ .open-menu .option:hover i {
  color: #26a7de;
}
body.light-theme .menu.active ~ .open-menu .option:hover .switch-container {
  border: 2px solid #26a7de;
}
body.light-theme .board {
  -webkit-box-shadow: 0px 10px 12px -2px rgba(228, 228, 228, 0.75);
          box-shadow: 0px 10px 12px -2px rgba(228, 228, 228, 0.75);
}
body.light-theme .board .box {
  border: 2px solid black;
}
body.light-theme .board .box:hover {
  background-color: rgb(199, 199, 199);
}
body.light-theme .winner {
  background-color: rgb(216, 216, 216);
}
body.light-theme .winner .quit {
  background-color: black;
  color: white;
}
body.light-theme .winner .quit:hover {
  background-color: rgb(48, 48, 48);
}
body.light-theme .warning {
  background-color: rgb(216, 216, 216);
  color: black;
}/*# sourceMappingURL=gobal.css.map */