body {
    text-align: center;
    padding: 20px;
    background-color: rgb(15, 15, 15);
    color: white;

    .title {
        font-size: 30px;
    }

    .board {
        max-width: 450px;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 20px;

        .box {
            max-width: 150px;
            height: 150px;
            width: 100%;
            border: 1px solid white;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            box-sizing: border-box;
            transition: all 0.2s;

            &:hover {
                background-color: rgb(44, 44, 44);
            }
        }
    }
}